
.header{
    margin-top: 50px;
    padding: 0px;
}
.header button{
    /* height: 80%; */
    border-radius: 15px !important;
    margin: 5px;
    cursor: pointer !important;

}
.btns{
    justify-content: flex-end;
    padding-right: 0px;
}
.title{
    padding-left: 0px;
}
@media (max-width: 300px){
    .header button{
        /* height: 80%; */
        border-radius: 15px !important;
        margin: 5px;
        font-size: 12px;
        height: 70%;
    }
    .btns{
        padding: 0px;
    }
}

