
.header{
    margin-top: 50px;
    padding: 0px;
}
.header button{
    border-radius: 15px !important;
    margin: 5px;
    cursor: pointer !important;
    height: 70%;
}
.btns{
    justify-content: flex-end;
    padding-right: 0px;
}
.title{
    padding-left: 0px;
}
@media (max-width: 400px){
    .header button{
        border-radius: 15px !important;
        margin: 5px;
        font-size: 15px;
        height: 70%;
        font-size: 12px;
        text-align: center;
    }
    .btns{
        padding: 0px;
    }
}

